[2014-09-23 01:46] rexim opened #1 "One color title on Firefox"
Browser: Firefox 32.0.2
OS: Windows 7

Looks like this:
![actual](http://i.imgur.com/KvZkCxx.jpg)

Should be like this:
![expected](http://i.imgur.com/bXkNJLJ.png)

[2014-09-23 01:51] rexim opened #2 "Admin Panel"
Currently, it is possible to manage quotes by sending queries via Postman, but it would be better to have a convenient admin panel for this kind of things. :)

[2014-09-23 01:53] rexim opened #3 "REST API"

[2014-09-23 02:00] rexim opened #4 "UTC timestamps in the UI"
Should we consider it as a bug or as a feature?

[2014-09-23 02:05] rexim opened #5 "Custom error pages"
At least for 404 and 500.

[2014-09-23 02:14] rexim opened #6 "Search"
Will be very important in the future when we reach a decent amount of quotes.

[2014-09-23 02:16] rexim opened #7 "Pagination on the index page"
It would be nice to have it. :)

[2014-09-23 02:20] rexim opened #8 "UI redesign"
I've made a quick temporary design. Do we need to invest more time in this and make something really cool? If so, we can close #1.

[2014-09-23 02:21] rexim opened #9 "Import old database"

[2014-09-23 02:22] rexim opened #10 "Voting"
There should be an opportunity to give a plus to a favorite quote. :)

[2014-09-24 04:16] rexim opened #11 "Incorrect order of the quotes on the index page"
The quotes should be ordered from newest to oldest.

[2014-09-24 08:04] rexim opened #12 ""Cannot parse parameter id as Long" when the id is greater than 2 ^ 63 - 1"
- http://loglist.herokuapp.com/quote/9223372036854775808
- http://loglist.herokuapp.com/quote/9223372036854775807

In both cases we should get 404

[2014-09-24 08:50] rexim opened #13 "Automate deployment"
Apparently, my server can handle the Power of LogList. So, let's use it for production. It only remains to automate the deployment process.

[2014-09-24 15:20] rexim opened #14 "Time in a hint box"
Show time in the user's timezone in a hint box when he/she hovers the UTC timestamp.

I think it could be done on the client side. That leads us to the question about our client side language choice. I would strictly suggest to the implementer not to use JavaScript. Since we use ScalaJs in [Keter](https://github.com/codingteam/Keter) we can give TypeScript a try on this project.

[2014-09-24 15:21] #4 closed, assigned to nobody

[2014-09-25 18:35] #11 closed, assigned to rexim

[2014-09-28 09:57] #13 closed, assigned to rexim

[2014-09-28 16:03] #12 closed, assigned to rexim

[2014-09-30 13:56] #9 closed, assigned to ForNeVeR

[2014-09-30 16:36] rexim opened #18 "PostgreSQL only"
I think we should get rid of any mentioning of h2 in the code and use only PostgreSQL.

[2014-10-01 07:55] #2 closed, assigned to nobody

[2014-10-01 08:22] rexim opened #19 "Quote suggestion"
There should be a form which everyone can use to suggest quotes. Nothing special. Just a text field, a submit button and probably CAPTCHA (I think of reCAPTCHA or other similar services).

The suggested quotes should be put in a pending queue. Admin can watch this queue and approve or disapprove the quotes from it. So, it requires to add a new table to our current database scheme for pending quote

[2014-10-04 19:01] #7 closed, assigned to rexim

[2014-10-04 19:07] #1 closed, assigned to nobody

[2014-10-04 19:27] #18 closed, assigned to rexim

[2014-10-05 14:55] rexim opened #21 "Imperial Standard Dating system"
@IngvarJackal suggested to use Imperial Standard Dating system instead of UTC timestamps. So, why not?

http://melodiousgames.com/wh40k-imperial-calendar/

[2014-10-06 16:39] ForNeVeR opened #22 "Quote sorting"
I think that quotes should be progressively sorted inside date range (inside day or a week, for example). High-rated quotes should be on top while low-rated - on the bottom and maybe shadowed.

[2014-10-09 19:11] rexim opened #23 "Use play-slick"
https://github.com/playframework/play-slick/

It supports Play evolutions for slick that are essential for #19 and #10

I'll start to work on integrating this into LogList right now.

[2014-10-10 18:35] #23 closed, assigned to rexim

[2014-10-10 20:29] rexim opened #24 "Suitable Database Library"
Currently we use Heroku as a hosting for LogList. LogList is a young fast growing service. The database schema of such service changes very often. It would be nice if someone makes a pull request with properly tested changes, we deploy this changes on Heroku using only one command and it just works. No manual database magic.

Play Framework supports [Evolutions](https://www.playframework.com/docum

[2014-10-12 07:36] #24 closed, assigned to nobody

[2014-10-12 15:28] ForNeVeR opened #26 "ScalaJS integration"
For #10 we need some client-side scripting, and I see no perspective in using anything except ScalaJS. So we need to restructure our project and use the Play/ScalaJS integration.

[2014-10-12 17:45] rexim opened #28 "Simple integration tests"
To preview 69a2be36dae05326b4cc5da62c0d0fc788c62d6e to happen in the future again I suggest to write simple automated integration tests. Nothing special, just visit key pages and check that they are ok.

[2014-10-12 17:52] ForNeVeR opened #29 "Asynchronous queries"
I think that all database queries in our code should be asynchronous whenever possible. It will help us to better utilize CPU and distribute load between HTTP worker threads.

We can use [ScalikeJDBC-async](https://github.com/scalikejdbc/scalikejdbc-async) for it.

[2014-10-15 17:52] #26 closed, assigned to ForNeVeR

[2014-10-18 08:05] ForNeVeR opened #34 "RSS Feed"

[2014-10-18 08:06] ForNeVeR opened #35 "RSS Feed"
Thou shalt create RSS feed.

[2014-10-18 16:36] #10 closed, assigned to ForNeVeR

[2014-10-19 07:10] ForNeVeR opened #37 "Voting system defense"
We need to defend our voting system from various fraud attempts. There should be server and client defense layers.

Main rule may be that one client machine could only vote one time per day per quote.

1. On client I propose simple system that won't let to vote more than one time per day. We may store last votes in a `localStorage` for more fun.

2. Server should have more protection. I'd suggest

[2014-10-27 17:37] rexim opened #38 "Administration mechanism for approving suggested quotes."
Extracted from #19

[2014-10-28 13:37] ForNeVeR opened #39 "Quote suggestion form"
There should be a simple captcha-protected form for quote suggestion.

[2014-11-03 08:20] ForNeVeR opened #41 "Use UTC time zone by default"
All of our internal code should consistent handle times in UTC.

[2014-11-03 09:08] ForNeVeR opened #42 "JS minification on production"
Our production environment should include minified and optimized version of the script.

[2014-11-03 09:09] ForNeVeR opened #43 "Save suggested quote to local storage"
Suggested quote should be saved to the local storage in case user wants to edit it and suggest later.

[2014-11-03 11:30] ForNeVeR opened #44 "Asynchronous reCaptcha checker"
I've found that used recaptcha module is piece of crap. We should rewrite it as a reusable infrastructure piece. It should recaptcha checks in a non-blocking manner.

[2014-11-03 11:31] ForNeVeR opened #45 "Styles for recaptcha"
We should write a custom theme for reCaptcha.

[2014-11-03 12:11] rexim opened #47 "Report captcha error to user"

[2014-11-03 12:52] #39 closed, assigned to ForNeVeR

[2014-11-12 15:12] ForNeVeR opened #48 "Add About page"
There should be an About page describing loglist history.

[2014-11-14 06:31] ForNeVeR opened #50 "Change font color on the quote suggestion page"
Black-on-green is not the best color solution.

[2014-11-15 04:58] ForNeVeR opened #51 "Mobile layout"
Currently loglist doesn't look very bad on mobile device, but these are some issues with element sizes that should be fixed.

[2014-11-16 19:44] rexim opened #52 "Change package layout"
I find the current package layout too flat and unmanageable. Instead of putting all views to the `views` package, all controllers to the `controllers`, etc, I'd prefer having one package for each logical subsystem that contains its own models, views and controllers. The subsystem may depend on each other. If two or more subsystems have to share something there should be another subsystem. I believ

[2014-11-23 04:25] #52 closed, assigned to rexim

[2014-12-01 18:35] rexim opened #56 "Quick setting up for development environment"
Create something similar to this https://github.com/reddit/reddit/wiki/reddit-install-script-for-Ubuntu for quick setting up development environment for LogList.

[2014-12-06 10:05] ForNeVeR opened #57 "Recaptcha is broken"
Currently [recaptcha is broken](http://www.loglist.net/quote/new). It may be due to new recaptcha API announced by google. We have to migrate our code :(

[2014-12-06 10:15] #57 closed, assigned to ForNeVeR

[2014-12-06 16:33] ForNeVeR opened #58 "New recaptcha API"
Google released [new recaptcha API](https://www.google.com/recaptcha/intro/index.html), we should try to use it.

[2014-12-14 08:50] #38 closed, assigned to rexim

[2014-12-14 09:12] ForNeVeR opened #60 "Approvable quote counter"
Add the counter of suggested quotes to main page.

[2014-12-14 09:33] #50 closed, assigned to nobody

[2014-12-14 09:36] ForNeVeR opened #63 "Distinct mail subjects"
Each email should have its own subject so they won't collapse into one big thread.

[2014-12-14 09:37] ForNeVeR opened #64 "Quote texts in emails"
I think that each email should contain the quote text (or beginning part of it if it is too large). It will simplify analysis of quotes in my inbox :)

[2014-12-14 09:44] rexim opened #65 "Email in loglist.net domain"
It would be nice to receive notification from noreply@loglist.net instead of ugly loglist.loglist@yandex.ru

[2014-12-14 13:58] rexim opened #66 "Notify when a quote is approved or declined."
In respect to #63 the notifications should have the same subjects as notification about suggesting so popular online clients would associate them accordingly

[2015-01-01 13:32] rexim commented on #64
I'm taking this.

[2015-01-12 18:25] #58 closed

[2015-01-20 17:39] ForNeVeR opened #68 "Quote editing"
There should be an ability to edit suggested quotes.

[2015-01-20 17:40] rexim commented on #68
You can edit suggested quotes before approving them. Did you mean "to edit approved quotes"?

[2015-01-20 17:40] ForNeVeR commented on #68
Yes I am.

[2015-01-24 11:54] #63 closed

[2015-01-25 10:54] #64 closed

[2015-01-25 15:00] rexim commented on #45
Is this still required after we moved to the new recaptcha?

[2015-01-25 15:07] rexim commented on #45
I mean, the default styles of the new recaptcha look pretty well. :)

[2015-01-25 15:10] rexim commented on #19
This can be closed

[2015-01-25 15:10] #19 closed

[2015-01-25 15:29] #66 closed

[2015-01-25 16:05] ForNeVeR commented on #45
I think the new styles are good so I'm closing that.

[2015-01-25 16:05] #45 closed

[2015-01-26 18:02] rexim opened #73 "Secure connection for administrative operations"

[2015-01-26 18:05] rexim commented on #73
I think this task extremely affects our infrastructure since SSL add-on on heroku is too expensive for us... https://addons.heroku.com/ssl

[2015-01-26 18:24] rexim opened #74 "Decent authentication mechanism for administrative operations"
Instead of that basic auth >.>

This should be implemented after #73

[2015-01-27 07:09] rexim commented on #73
This is essential for #74

[2015-01-29 18:38] rexim opened #75 "Respond with HTML instead of plain text when a quote is approved or declined"

[2015-01-30 08:48] #60 closed

[2015-02-01 12:57] rexim opened #77 "Improve suggested quote counter markup"
Right now it looks like this:

![counter](http://i.imgur.com/bwIygjg.png)

I think we need a better place for the counter.

[2015-02-02 07:09] rexim commented on #73
There is an idea of implementing client-side encryption. Similar approach is used in [Mega](https://en.wikipedia.org/wiki/Mega_(service)#Data_encryption)

[2015-03-04 13:59] ForNeVeR opened #78 "catberry frontend"
There is an obgoing idea to use [Catberry](https://github.com/catberry/catberry) for frontend part of our application. We need someone who will research possible ways of integrating it.

[2015-03-09 12:16] ForNeVeR opened #80 "favicon"
We need favicon!

[2015-03-09 12:28] rexim commented on #80
ok

[2015-03-09 12:56] #80 closed

[2015-03-19 05:35] rexim commented on #3
@ForNeVeR are you going to work on this in the near future? I want to reassign it to myself. =3

[2015-03-19 05:58] ForNeVeR commented on #3
Okay, you can take that.

[2015-03-19 06:01] rexim commented on #3
Thank you very much, uncle von Never! ^.^

[2015-03-19 14:12] rexim opened #82 "Handle com.sun.mail.smtp.SMTPSendFailedException"
Exception from heroku logs `com.sun.mail.smtp.SMTPSendFailedException: 451 4.7.1 Service unavailable - try again later`

We need to handle that properly.

[2015-03-23 18:54] rexim commented on #3
I think this issue is too complex. I'd like to convert into a milestone and attach more atomic issues to it.

[2015-03-23 18:58] rexim opened #83 "Use Swager for existing API"
See https://github.com/swagger-api/swagger-core/tree/master/modules/swagger-play2

[2015-03-23 19:01] rexim opened #84 "Define a new API for getting the quote list"

[2015-03-23 19:07] rexim opened #85 "Render quote list page on the client using The REST API"
Maybe we should even consider to implement load on scroll. I don't know... Will see. :)

[2015-03-23 19:10] rexim commented on #3
So I've created [REST API](https://github.com/codingteam/loglist/milestones/REST%20API) milestone and attached some tasks to it. Maybe we'll add more in the future. Closing this.

[2015-03-23 19:10] #3 closed

[2015-03-23 19:12] ForNeVeR commented on #3
Approved.

[2015-04-04 10:10] ForNeVeR opened #86 "Auto log formatter"
There should be a (maybe semi-sentient) being for log formatting embedded to the posting form. IT should automatically resolve nicknames and put them into angle braces. It should also remove timestamps.

[2015-04-04 14:52] rexim commented on #86
I agree that we don't need timestamps in general. But they may be essential for some quotes. So this part should configurable. Also I think such formatter should exist on the approver's. It should work before the quote is approved so the approver has a chance to change something manually.

[2015-04-04 15:09] ForNeVeR commented on #86
I was thinking about adding a "format shit" button near the "approve shit" one.

[2015-04-04 15:10] rexim commented on #86
Yeah, that's what I'm talking about! :)

[2015-04-04 16:39] rexim opened #87 "API for getting random quote"
This is essential for https://github.com/codingteam/horta-hell/issues/297

[2015-04-05 08:25] rexim opened #88 "API for getting a quote by id"
This is essential for https://github.com/codingteam/horta-hell/issues/297

[2015-04-05 10:27] ForNeVeR opened #90 "Add link to support gitter room"
There should be a link to https://gitter.im/codingteam/loglist somewhere.

[2015-04-11 11:24] #88 closed

[2015-04-11 11:31] rexim opened #93 "Migrating to the Celadon Cedar-14 Stack"
Currently during deploying the moose we see the following message:

    !   Cedar-10 will reach end-of-life on November 4th, 2015.
    !   Upgrade to Cedar-14 at your earliest convenience.
    !   For more information, check out the following Dev Center article:
    !   https://devcenter.heroku.com/articles/cedar-14-migration

We need to migrate before November 4th, 2015

[2015-04-11 11:52] rexim opened #94 "/api/* subroute for all existing REST API methods"

[2015-04-11 13:11] #87 closed

[2015-04-12 11:21] rexim opened #98 "Auto deploy doesn't work on Heroku"
I enable auto deploy, we merge PR and nothing happens. Maybe we should do some deploy keys magic or something.

[2015-04-12 18:41] rexim opened #99 "Link to the quote as a part of QuoteDTO"

[2015-04-12 19:02] rexim opened #100 "Autofill submit form via GET parameter"
It should work like this:
- There is a link that looks like `http://www.loglist.net/quote/new?content=<quote-text-in-base64>` — for example, for "Hello, World" it will look like http://www.loglist.net/quote/new?content=SGVsbG8sIFdvcmxk
- When we open http://www.loglist.net/quote/new?content=SGVsbG8sIFdvcmxk in a browser the submit form is opened and autofilled with "Hello, World" text
- Using base

[2015-04-13 04:42] ForNeVeR commented on #100
I can propose a more robust solution to the mentioned problem:

- post quote using `POST` request to *staging area* (and store it to the database);
- generate unique link to that staging area quote (e.g. http://www.loglist.net/quote/new?contentid=rexeem) - that link may be even linked to horta-hell user (so every user can have place for *one* staging quote, but we may need to discuss that moment);

[2015-04-13 04:54] rexim commented on #100
@ForNeVeR that's a good idea!

[2015-04-13 14:25] ForNeVeR opened #101 "Client side vote defense"
One client user should be allowed to vote only once for any quote.

I think about using some memory in a localstorage.

[2015-04-13 14:26] rexim opened #102 "Client side voting defense"
Subtask of #37

[2015-04-13 14:26] ForNeVeR opened #103 "Server side vote system defence"
There should be a server-side block when a user attempts to spam our voting system.

[2015-04-13 14:26] ForNeVeR commented on #102
Duplicate of #101.

[2015-04-13 14:26] #102 closed

[2015-04-13 14:27] ForNeVeR commented on #37
Split into #101 and #103.

[2015-04-13 14:27] #37 closed

[2015-04-17 11:51] rexim commented on #100
@ForNeVeR I suggest to make a staging area as an in-memory map (id -> text) that has a limited size and deletes old values on insert operation. We don't need to persist this information and such approach doesn't require to clean up anything weekly.

[2015-04-17 12:56] ForNeVeR commented on #100
I wouldn't say that such in-memory storage is widely accepted solution in web today. For example, if Heroku wants to stop our application (as it always do) - all staging data will be lost. Are you really sure we want exactly this? Are you really sure you are mixer?

[2015-04-17 13:10] rexim commented on #100
@ForNeVeR the data in the stage area is needed only for 1-2 minutes. Or even less. Then it can be easily thrown away.

Heroku stops our application when nobody uses it for a while (this time period is definitely greater than 1-2 minutes, we can check the official documentation if you want). In case the application is stopped, staging the data by a POST request will trigger heroku to start it up. A

[2015-04-17 13:15] ForNeVeR commented on #100
Well, if you want then let's try to implement your proposal.

[2015-04-17 13:40] rexim commented on #100
On the other hand, in-memory approach with size-limited map is not that scalable... I mean at some amount of active REST users the staging area will be wiping very fast. I'll think about it. :)

[2015-04-18 08:14] rexim commented on #100
After a little conversation in our jabber conference we decided to use the database solution.

[2015-04-19 07:51] rexim opened #104 "Configure PostgreSQL for Travis"

[2015-04-19 09:02] #104 closed

[2015-04-19 09:55] ForNeVeR opened #106 "Flatten quote identifiers"
We could renumber all quotes so they have consistent identifiers such as 0, 1, 2, 3 etc. People expect quote number 1 (or zero) to exist.

[2015-04-19 10:52] rexim commented on #106
And break all the existing URLs. Sure.

[2015-04-19 11:01] ForNeVeR commented on #106
Why not? I don't think anything relies on there URLs.

[2015-04-19 11:21] rexim commented on #106
We have quite enough LogList links in logs. And they all will become

[2015-04-19 11:27] rexim commented on #106
I just want to say, that it's too late Mr. @ForNeVeR. You should had thought about it when you was importing quotes from the legacy database.

[2015-04-19 11:57] ForNeVeR commented on #106
Our users will remember these your words.

[2015-04-19 11:57] #106 closed

[2015-04-19 12:19] ForNeVeR opened #107 "Moderator interface"
There should be an interface to edit existing quotes.

[2015-04-19 12:31] ForNeVeR opened #108 "Remove quotes"
Moderator should have a way to remove existing quotes he don't like. Also he should be able to remove the quotes that got the minimal rating (but should not abuse this feature before implementation of #102 and #103).

[2015-04-19 12:35] rexim opened #109 "Save rejected quotes"
Somewhere in the database for future analysis maybe

[2015-04-25 15:41] rexim opened #110 "Improve configuration management"
Dealing with these envars is a hell. We need to something with it.

[2015-04-25 15:54] ForNeVeR commented on #110
Why are you saying that?

[2015-04-25 15:59] rexim commented on #110
Because I'm a mixer

[2015-04-28 19:17] rexim opened #111 "Migrate to new PG Backups on Heroku"
https://blog.heroku.com/archives/2015/3/11/pgbackups-levels-up

[2015-05-04 10:29] rexim opened #112 "flinch backend"

[2015-05-04 10:31] rexim commented on #112
Related to #78

[2015-05-04 10:31] rexim commented on #78
Related to #112

[2015-05-04 10:38] rexim opened #113 "Move out of Heroku"
We should finally do this.

This will allow us to drop Play framework and use something decent: #78 #112

Also it will allow us to use encryption without paying $20 every month: #73

[2015-05-04 10:47] rexim commented on #78
@ForNeVeR so what are we going to as a client site language? Scala.js again?

[2015-05-04 11:21] ForNeVeR commented on #78
Well, at a first look it seems that the Catberry application consists of a bunch of various nodejs-like modules that will be rendered by server (and somehow packed for client). Also there is a small piece of server code that serves all the components.

We can choose any technology we like to implement this, but there may be some problems. I'll introduce you the most realistic and painless options

[2015-05-04 13:15] rexim commented on #78
@ForNeVeR thank you very much for such a great detailed review! I'm ok with TypeScript. :)

[2015-05-04 17:36] rexim opened #114 "Database migration mechanism"
After dropping The Play framework we will lose its database evolutions (which is probably this only thing I like about Play).

I suggest to use [Flyway](http://flywaydb.org/) instead. We have used it in Horta. So I think this shit is pretty reliable.

Any other suggestions are welcome, though.

[2015-05-05 03:42] rexim commented on #113
We may try to use http://theforeman.org/

[2015-05-05 07:18] rexim commented on #112
Since finch is based on finagle and we use PostgreSQL, we may give this thing a try https://github.com/finagle/finagle-postgres

[2015-05-05 11:17] rexim opened #115 "Simple minimal prototype of isomorphic application"
Just create a simple minimal prototype of isomorphic web application using

- catberry on frontend #78
- finch on backend #112
- PostgreSQL as a database;
- flyway as the database migration mechanism #114

Once we have such application we can experiment with it on different infrastructures.

Please, create a separate branch in the [LogList](https://github.com/codingteam/loglist) git repo and repla

[2015-05-06 05:19] rexim commented on #115
According to the architecture diagram in #78 the prototype will consist of two projects: one for frontend with catberry and TypeScript, and another one for backend with finch, database and other backend stuff.

For this prototype I'll place both projects in one repo. But I'm not sure if it is right in general. Maybe in the future we are going to reconsider that.

[2015-05-06 07:15] ForNeVeR commented on #115
лорва

[2015-05-07 05:48] ForNeVeR commented on #114
I think we should also consider liquibase.

[2015-05-07 06:12] rexim commented on #114
http://www.liquibase.org/

[2015-05-07 06:12] rexim commented on #114
@ForNeVeR ok, I'll take a look at it when I will be implementing #115, thanks.

[2015-05-07 07:08] ForNeVeR commented on #114
Please note that was just a suggestion and not a complete recommendation. You should really consider both of these libraries and use the best of them. They have some differences. In particular:
- liquibase tends to be more model-centric and can operate with entities such as table or column, while all Flyway does is execute raw SQL scripts;
- liquibase also can wrap every migration in transaction a

[2015-05-07 08:38] rexim commented on #114
@ForNeVeR this issue was created only for suggestions. So I don't know why I would treat anything differently in here.

Anyway, thanks for the comparison!

[2015-05-19 05:57] rexim commented on #111
Looks like Heroku did that shit for us automatically...

[2015-05-19 05:57] #111 closed

[2015-05-22 12:57] ForNeVeR commented on #115
@rexim, I had discussion with @pragmadash regarding using TypeScript with Catberry and currently I think that you should take a timeout at this problem. This is a separate task and I'll try to create some minimal implementation myself.

[2015-05-22 13:28] rexim commented on #115
@ForNeVeR ok, sure. Should I reassign this issue on you?

[2015-05-22 13:29] rexim commented on #115
Or maybe we should create a new one specifically for TypeScript with Catberry?

[2015-05-22 13:32] ForNeVeR opened #117 "Simple minimal prototype: frontend server"
We should create simple frontend isomorphic client/server application using Catberry and TypeScript. There are some... issues with it.

[2015-05-22 13:33] ForNeVeR commented on #115
Agreed. Created #117.

[2015-06-18 07:32] rexim opened #118 "Redirect after approval or decline"
- When the quote is approved, redirect to the approved quote page.
- When the quote is declined, redirect to the main page

[2015-06-18 07:53] ForNeVeR commented on #118
Please note that this can be an alternative option to #75.

[2015-06-18 08:06] rexim commented on #118
Oh, thanks for pointing that out! Completely forgot about this one. Btw, what's your opinion regarding this behavior? I think redirect is much useful and easier to implement. For declining we can redirect to the main page.

[2015-06-18 08:08] ForNeVeR commented on #118
Well, redirect is completely okay. It is even more RESTful than simply rendering the same view. So I think that's a good idea.

[2015-06-18 08:10] rexim commented on #75
Not needed anymore because of #118

[2015-06-18 08:10] #75 closed

[2015-06-21 08:25] #118 closed

[2015-07-02 04:07] rexim opened #120 "javax.mail.MessagingException: Could not convert socket to TLS;"
We experiencing some strange problem with sending notifications to approvers. Here is the log:

[code]

I'll try too investigate it this evening.

[2015-07-02 04:50] ForNeVeR commented on #120
:(

[2015-07-02 16:03] rexim commented on #120
Ok, I'm able to send the notification from my local machine. So the problem is on the Heroku's side. Keep investigating...

[2015-07-02 16:18] rexim commented on #120
http://stackoverflow.com/questions/10687200/java-7-and-could-not-generate-dh-keypair

[2015-07-02 16:18] rexim commented on #120
Looks like Yandex sends a key longer than 1024 bits now.

[2015-07-02 16:19] rexim commented on #120
But why does it work on my local machine? Do I have slightly different JDK?

[2015-07-02 16:19] rexim commented on #120
Anyway I'll prepare a fix based on that SO answer

[2015-07-02 17:35] rexim commented on #120
How to use custom SocketFactory in javax.mail: http://stackoverflow.com/questions/411331/using-javamail-with-tls

[2015-07-02 18:01] rexim commented on #120
Upgraded the Java Runtime to 1.8. Looks like it fixes the problem and doesn't break anything. But I'm not sure that it is a good solution. @ForNeVeR what do you think?

Also, we should check if #93 can fix the problem.

[2015-07-03 04:21] ForNeVeR commented on #120
@rexim I think that's a good solution. According to comments on SO, that particular problem was fixed with some later Java 7 release. And we anyway will be good with migration to 1.8.

[2015-07-03 04:22] ForNeVeR commented on #120
Let's close it for now and reopen if it will appear again.

[2015-07-03 05:50] rexim commented on #120
Hey! The fix wasn't even reviewed yet! :)

[2015-07-03 08:29] #120 closed

[2015-07-24 09:36] rexim opened #122 "Rest-assured"
Can we adapt this shit to our purposes? https://github.com/jayway/rest-assured

[2015-07-24 11:01] ForNeVeR commented on #122
Do we already have a REST interface to begin with?

[2015-07-24 11:40] rexim commented on #122
[code]

Here are some routes of our REST interface. Some of them a probably mixed with regular routes but that's completely another problem, which will be refactored later.

[2015-07-24 11:42] ForNeVeR commented on #122
Okay, you're right, we have some REST here. Now it's the time for another question: have you experienced any problems with writing tests for that? If yes - then what exactly that problems were? Will they be solved with this library?

[2015-07-24 13:11] rexim commented on #122
No, I just wanna try this shit somewhere.

[2015-07-24 13:11] rexim commented on #122
Well, If you disagree I can find another place to try this shit on.

[2015-07-24 13:13] ForNeVeR commented on #122
I was not agreeing or disagreeing with anything here. I just wanted to know the reasoning behind this issue. Sure you're free to use it in this project if you want to!

[2015-07-24 13:14] rexim commented on #122
Tanks! ^.^

[2015-07-24 13:14] ForNeVeR commented on #122
TANKS?!

[2015-08-04 05:25] ForNeVeR opened #123 "New JSON serializer"
We may want to evaluate [jfc](https://github.com/travisbrown/jfc) JSON serializer. It looks really nice, and many times nicer that poor Play JSON support.

[2015-08-04 06:00] rexim commented on #123
Well, we don't use "poor Play JSON support". We use upickle: https://github.com/codingteam/loglist/blame/master/project/Build.scala#L105

And you are the one who introduced this dependency. Can that jfc work both on JVM and JavaScript?

[2015-08-04 06:20] rexim commented on #123
Oh, if we are going to use TypeScript + Finch, jfc doesn't need to work on JavaScript platform. Anyway, is it really better than upickle?

[2015-08-04 06:28] ForNeVeR commented on #123
Disregard that, we still use Play poor JSON support: https://github.com/codingteam/loglist/blob/2e53256a5cf90e069235102d323ab626d1cebd1e/scalajvm/app/helpers/ReCaptcha.scala#L21

[2015-08-04 06:29] ForNeVeR commented on #123
But okay, we'll need to discuss further our migration to Finch / whatever. I'll close that for now.

[2015-08-04 06:29] #123 closed

[2015-08-20 17:36] rexim commented on #113
The application itself is already moved and available at http://codingteam.org.ru:9000/

[2015-08-20 17:38] rexim opened #124 "Hide CTOR's LogList behind Nginx"
Is depended on by #113

[2015-08-20 17:38] rexim opened #125 "Configure CTOR's LogList to not listen to the global"
Is depended on by #113

[2015-08-20 17:39] rexim opened #126 "Point loglist.net to CTOR"
Is depended on by #113

[2015-08-20 17:39] rexim opened #127 "Import LogList database from Heroku to CTOR"
Is depended on by #113

[2015-08-20 17:40] rexim opened #128 "Configure jenkins.fornever.me to build LogList and deploy on CTOR"
Is depended on by #113

[2015-08-20 17:41] rexim commented on #124
It won't be available until #126 is resolved

[2015-08-20 17:45] rexim commented on #128
`$ sbt clean compile dist`

[2015-08-20 20:00] rexim opened #129 "Database URL may be changed"
Heroku automatically created us a ticket

### Ticket \#266203 - Maintenance is required for your database

First of all the database will be read-only for a while (one more reason to migrate from this shit). The second thing is that until #127 is resolved we may need to update the database url after the maintenance is done.

We should keep an eye on that.

[2015-08-21 05:10] ForNeVeR commented on #124
BTW we already have nginx fully set up on CTOR; you'll have to just add the corresponding configuration.

[2015-08-21 05:12] ForNeVeR commented on #125
Why shouldn't it listen on 9000 port? (Well, there may be a conflict with something else on CTOR, but we should check that first. Or have you checked already?)

[2015-08-21 05:13] rexim commented on #124
Yep, I know. This task is about adding a couple of lines to a text file. :)

[2015-08-21 05:13] ForNeVeR commented on #125
But it should listen only `127.0.0.1` and not the global net.

[2015-08-21 05:14] rexim commented on #125
Hm... By not listening to 9000 port I meant not listening to the global. You're right. I'll rename the task.

[2015-08-21 05:14] ForNeVeR commented on #124
That's totally okay.

[2015-08-21 05:31] rexim commented on #125
Done! Modified `start-this-shit.sh` script. Now http://codingteam.org.ru:9000/ is unavailable but from the inside you can send request via `curl http://127.0.0.1:9000/`. It only remains to resolve #124 and #126 and the service will be fully available.

[2015-08-21 05:31] #125 closed

[2015-08-21 05:32] ForNeVeR commented on #125
Great.

[2015-08-21 05:44] rexim commented on #124
Done! Configured server for loglist. Now if you point loglist.net domain to ctor via hosts you can have the access to the service. :)

[2015-08-21 05:44] #124 closed

[2015-08-21 06:22] rexim commented on #126
Done. LogList is available by http://loglist.net/

[2015-08-21 06:22] #126 closed

[2015-08-21 06:40] rexim opened #130 "Update CAPTCHA"
After migration from Heroku domain is `loglist.net` not `www.loglist.net`. So the captcha service doesn' work because of that.

[2015-08-21 07:06] rexim commented on #130
Hm.... Even with domain `www.loglist.net` it says `ERROR: Invalid site key`. It depends not only on the domain? It should be updated anyway

[2015-08-21 07:06] rexim commented on #130
Also, I think it's better to do this issue after resolving #128

[2015-08-22 06:41] ForNeVeR commented on #128
http://jenkins.fornever.me/job/loglist/

[2015-08-22 06:41] #128 closed

[2015-08-22 06:51] ForNeVeR commented on #130
That maybe was due to the fact you set the public recaptcha key to "khooy". I've updated the recaptcha domain binding and copied the proper keys to the configuration file. Enjoy.

[2015-08-22 06:51] #130 closed

[2015-08-22 06:53] ForNeVeR opened #132 "Domain name in the admin messages"
We have a small problem. Loglist seems to think he's placed on `localhost:9000`. This affects the domain name in the quote management messages (so I have to manually replace `localhost:9000` with `loglist.net` before sending the HTTP request). How could we control that?

[2015-08-22 07:00] rexim commented on #128
Oh my gosh!! This is fucking great! Thank you, uncle Never!!!

[2015-08-22 07:00] ForNeVeR opened #133 "Remove old unfunny quotes"
Just filing an issue so we won't forget about that.

I think we need to remoderate all of the oldest quotes and drop the unfunny ones. (Maybe not drop completely but place to some "abyss" like the one on bash.org.ru.)

We'll need a fully usable moderator interface to do that, so linking with #107.

[2015-08-22 07:01] rexim commented on #130
lol, completely forgot about that khooy. :) Thank you very much!

[2015-08-22 07:02] rexim commented on #132
I'll take a look into that.

[2015-08-22 07:26] ForNeVeR commented on #113
Don't forget to close all Heroku-specific tasks when closing this.

[2015-08-22 07:38] ForNeVeR opened #134 "Heroku cleanup"
We'll need to clean all Heroku things after we close #113. For example, [the magic files](https://github.com/codingteam/loglist/commit/98d1b201f4923659a7445eae8057e8ad0976967c) and any alike heresy.

[2015-08-22 07:43] rexim commented on #132
Added `proxy_set_header Host loglist.net;` to Nginx config. The problem has been fixed.

[2015-08-22 07:43] #132 closed

[2015-08-22 10:41] rexim opened #135 "Reproducible infrastructure"
I mean there is a bunch of those little things like:
- Jenkins config
- Upstart config
- Nginx config ()
- _Something else, maybe in the future?_

that are not available for anyone and not documented anywhere — I don't mean the sensitive information like passwords, I mean everything besides them.

I want our git repo to be enough to completely reproduce our infrastructure on another machine(s). Wh

[2015-08-22 10:58] ForNeVeR commented on #135
That's a very global task even for modern configuration management system.

First of all, we have multiple nodes our infrastructure relies on:

1. CI server (currently my Windows machine).
2. Prod server (ctor).

I am already versioning my whole Jenkins configuration in private repository (because it's full of things that cannot be published). That's a nice idea to publish the shell scripts we use

[2015-08-22 11:08] rexim commented on #135
@ForNeVeR Thank you very much for sharing your opinion. You have some really interesting thoughts to think about. I wanna keep this issue open for a while for discussion purpose. If I come up with something later I'll put everything here.

[2015-08-22 11:09] ForNeVeR commented on #135
I agree that we should make our configurations more clear and more easily reproducible, so you're welcome.

[2015-08-23 05:26] rexim commented on #129
Just got a notification that the maintenance has completed successfully and as I expected our service shows an error now. I'll change the database URL.

[2015-08-23 05:47] rexim commented on #129
Looks like they broke everything. The credentials are correct but we still are getting the error. Looks like we have to resolve #127 ASAP

[2015-08-23 07:28] rexim commented on #129
Left a comment in the maintenance ticket. We will wait for the answer for a day. After that if there will be no answer we will drop Heroku completely and will restore the missing quotes from my email.

[2015-08-23 18:48] rexim commented on #129
I don't know what happened, but now they finally fixed everything and the new credentials work for the database. Changed DATABASE_URL in the config accordingly. Everything seems to be fine now.

[2015-08-23 18:49] #129 closed

[2015-10-15 16:28] ForNeVeR opened #136 "Add metainformation"
I got this result from google:
![image](https://cloud.githubusercontent.com/assets/92793/10520450/e8429842-738b-11e5-9cef-60edcee2b44a.png)

That's not very nice. We should add `meta type=description` or something like this so search engines will show us more friendly.

[2015-10-15 16:30] ForNeVeR opened #137 "Improve wording"
"3 цитат находятся на рассмотрении" is not very nice for me. I suggest "Цитат на рассмотрении: 3".

[2015-10-15 16:39] rexim commented on #137
Маленький, но гордый цитат!

[2015-10-15 16:39] ForNeVeR commented on #137
ацетат

[2015-10-15 16:39] ForNeVeR commented on #137
цианакрилат

[2015-10-15 16:41] ForNeVeR commented on #22
According to #54 and implemented functionality, it should be closed.

[2015-10-15 16:41] #22 closed

[2015-10-15 16:43] ForNeVeR commented on #73
Currently the site is hosted on our own server and we can do anything we want including HTTPS. Will you elaborate on it? I would advice you to get free HTTPS certificate from wosign that we could install on the server.

[2015-10-15 16:45] ForNeVeR commented on #93
I don't think we need anything here. Aren't we?

[2015-10-15 16:46] ForNeVeR commented on #98
Should we care now?

[2015-10-15 16:56] rexim commented on #93
It should be closed according to #134

[2015-10-15 16:56] rexim commented on #98
It should be closed according to #134

[2015-10-15 16:56] ForNeVeR commented on #93
Classified as heresy according to #134. Closed.

[2015-10-15 16:56] #93 closed

[2015-10-15 16:56] ForNeVeR commented on #98
Classified as heresy according to #134. Closed.

[2015-10-15 16:56] #98 closed

[2015-10-15 20:47] rexim commented on #73
@ForNeVeR yeah, sure. Thank you!

[2015-10-26 18:28] ForNeVeR opened #139 "RUNNING_PID problems"
After sudden rebooting the host machine service was not started either automatically or manually. I've got the following from its logs:

[code]

So, I've deleted the `/opt/loglist/RUNNING_PID` file and was able to start it again.

We need to automatically delete this file or create it on `/tmp`.

See also #140: the service is unable to autostart because of this.

[2015-10-26 18:29] ForNeVeR opened #140 "Service does not autostart"
After the machine start, service does not starts. I can't tell whether it is a separate issue from #139 or not. Need to test that.

[2016-01-01 13:10] rexim commented on #127
Done

[2016-01-01 13:10] #127 closed

[2016-01-01 13:11] rexim commented on #113
Fuckin' done!

[2016-01-01 13:11] #113 closed

[2016-01-01 13:17] rexim opened #141 "Automated database backups"

[2016-01-15 13:51] rexim opened #142 "Show random quote action"

[2016-01-15 13:52] ForNeVeR commented on #142
+1

[2016-02-11 06:03] rexim opened #143 "Don't use Session.getDefaultInstance from JavaMail"
Usage of this method can become a potential bug in the future: [Notifications.scala](https://github.com/codingteam/loglist/blob/59c7e5ec427337b2da8ca08c165e32f41de5f6bf/scalajvm/app/helpers/Notifications.scala#L57). See [JavaMail FAQ](http://www.oracle.com/technetwork/java/faq-135477.html#getdefaultinstance) for more information.

We should use `Session.getInstance` instead.

[2016-02-11 06:06] ForNeVeR commented on #143
(Sad) experience should've learned us that anything involving any kind of "default" in Java is pure evil.

[2016-02-11 06:19] hagane commented on #143
Well this makes sense if you consider the original meaning of 'default' --
failing to fulfill one's obligatons. So `Session.getDefaultInstance(...)`
should be used when the system fails to provide a `Session` from
`Session.getInstance(...)` and you really need one (implying that any
`Session` should have to suffice).

On Thu, Feb 11, 2016 at 12:06 PM, Friedrich von Never <
notifications@github.com

[2016-02-14 20:57] rexim commented on #141
I have a couple of ideas on how to organize that. I'm taking the issue if nobody minds.

[2016-02-15 04:13] ForNeVeR commented on #141
Feel free to do it.

[2016-02-16 12:58] #143 closed

[2016-02-17 18:11] rexim opened #146 "LogList.net 502 Bad Gateway"
http://loglist.net/

[2016-02-17 18:13] rexim commented on #146
Don't know how. But this is probably happened after #145. The last build was unstable http://jenkins.fornever.me/job/loglist/28/console Somethign with SSH connection. Don't know how to start another one.

[2016-02-17 18:18] rexim commented on #146
`/opt/loglist/` contains only `loglist-jvm-1.0-SNAPSHOT.zip` archive which seems to be broken (I can't unpack it)

[2016-02-17 18:22] rexim commented on #146
`/opt/loglist/` also contains some logs with exceptions related to Date parsing, but the seems to be old.

[2016-02-17 18:23] rexim commented on #146
Building loglist dist locally for a temporary solution...

[2016-02-17 18:26] rexim commented on #146
The size of a freshly built dist:
[code]

The size of the broken one:
[code]

[2016-02-17 18:28] rexim commented on #146
Renamed `/opt/loglist/loglist-jvm-1.0-SNAPSHOT.zip` to `/opt/loglist/loglist-jvm-1.0-SNAPSHOT.zip.broken`

[2016-02-17 18:39] rexim commented on #146
Manually deployed the locally built build. Everything seems to be working for now.

@ForNeVeR, please investigate this when you get a chance. Thanks!

[2016-02-23 09:58] ForNeVeR commented on #146
That really was a network failure or an SSH-related error. I've set it up to mark builds such this as failed in future. No issue here.

Just redeployed the build through Jenkins and it's okay.

[2016-02-23 09:58] #146 closed

[2016-02-23 10:17] rexim commented on #146
Good!

[2016-02-23 15:41] ForNeVeR opened #147 "Add a deployment documentation"
We should document our deployment process: upstart config and CI scripts.

[2016-02-23 15:50] rexim commented on #147
:+1:

[2016-02-24 04:14] #147 closed

[2016-03-29 21:37] Minoru opened #149 "Add a way to disable ReCAPTCHA during development"
It'd be nice to flip a toggle or something and be able to develop locally without worrying about ReCAPTCHA. As it is, I had to edit a couple of files to make Loglist believe that CAPTCHA check was passed successfully.

[2016-03-29 21:38] rexim commented on #149
This is strange. ReCAPTCHA should work if your host is localhost.

[2016-03-30 03:24] ForNeVeR commented on #149
Maybe he wanted to edit the files without an active internet connection? I think that's a valid point.

[2016-03-30 03:37] rexim commented on #149
@Minoru did you, really?

[2016-03-30 03:38] rexim commented on #149
Anyway, we have config for such thing. Feel free to add an option.

[2016-03-30 12:37] Minoru commented on #149
I have an active Internet connection. No, I didn't try to work on LogList without one. Still, ReCAPTCHA doesn't work, claiming I have invalid site key. [The docs](https://developers.google.com/recaptcha/docs/start) claim that "[b]y default, all keys work on "localhost" (or "127.0.0.1"), so you can always develop and test on your local machine.", but that doesn't seem to be the case. Any advice?

[2016-03-30 12:40] Minoru commented on #149
JFTR, I didn't edit RECAPTCHA_{PUBLIC,PRIVATE}_KEY settings in `devenv` file. Should I?

[2016-03-30 12:44] rexim commented on #149
Hah! Looks like Mr @ForNeVeR and I use the the same key that are in production! :D

[2016-03-30 12:44] rexim commented on #149
That's why everything work for us.

[2016-03-30 12:44] rexim commented on #149
You can create your own RECAPTCHA keys if you want

[2016-03-30 12:45] Minoru commented on #149
Yeah, so it turns out I should generate and specify valid keys in order for ReCAPTCHA to work. I'll update the README in the moment.

[2016-03-30 12:47] ForNeVeR commented on #149
It seems that you need to obtain your own key even to use it on localhost. I think that we should add an option to disable CAPTCHA. It will be easier for our contributors to install local instances without registration and SMS, you know.

[2016-03-30 12:53] Minoru commented on #149
I don't see a clear way to add an option, so the only thing I can do right now is clarify the docs. Will such a PR be welcome?

[2016-03-30 12:54] ForNeVeR commented on #149
Yes, it will be good (but not enough). I guess someone else could later resolve the issue completely.

[2016-03-30 12:59] rexim commented on #149
K, taking this one then

[2016-03-30 13:07] ForNeVeR commented on #149
@Minoru, you should definitely be more careful with your words.

[2016-03-30 17:22] ForNeVeR commented on #35
Finally we've decided that it's an important feature. Why was it closed in the first place? What a bizzare comment.

[2016-03-30 17:24] ForNeVeR commented on #34
As a

[2016-03-30 17:25] ForNeVeR commented on #34
As a self-proclaimed QA I will thoroughly check these shits.

[2016-03-30 17:40] rexim commented on #35
wat?

[2016-03-30 17:40] rexim commented on #35
It's a duplicate of #34

[2016-03-30 17:40] #35 closed

[2016-03-30 17:41] rexim commented on #34
@ForNeVeR shit works pretty in my opinion. Do you wanna still check it by yourself?

[2016-03-30 17:48] Minoru opened #153 "Make RSS feed more visible"
Okay, so now we have an RSS feed, but the only way to find it is to read routes file in the repo :) To improve the situation, the following has to be done:
* add `<link>` header to all pages;
* add a button or something somewhere in the corner.

Any other ideas?

[2016-03-30 18:14] Minoru opened #155 "Caching"
With RSS feed, we can now expect an influx of traffic: RSS readers check feeds as often as once in a few minutes. And while it's not too big a strain for client to download 20Kb of XML every now and then, the server will certainly notice.

All these problems can be solved if we start setting ETag and Last-Modified headers in the responses (and processing If-None-Match and If-Modified-Since headers

[2016-03-30 18:21] rexim commented on #137
Verified the issue. The wording has been improved. Hence closing the issue.

[2016-03-30 18:21] #137 closed

[2016-03-31 02:18] ForNeVeR commented on #34
Yep, I've verified, it's okay.

[2016-03-31 02:18] #34 closed

[2016-03-31 17:20] Minoru opened #156 "Previous/next page links"
Clicking on numbers is boring. Using "next" and "previous" links is better. We should add those to the quotes list.

[2016-04-10 18:09] rexim opened #157 "Enable LESS preprocessor"
Extracted from #8

Maybe useful: https://www.playframework.com/documentation/2.5.x/AssetsLess

[2016-04-11 03:25] ForNeVeR commented on #157
Aren't we dropping Play? _Maybe_ it'll be better to drop it first, and integrate LESS with whatever frontend management system we choose afterwards?

[2016-04-11 07:32] rexim commented on #157
@ForNeVeR remove Play related link

[2016-04-12 18:54] rexim opened #159 "What's the license of LogList?"
Derived from https://github.com/codingteam/loglist/pull/158#discussion_r59432534

[LICENSE](https://github.com/codingteam/loglist/blob/10ac8bcce278c9cc47485e7984db1e88e9f0de50/LICENSE) says it's  Apache 2 license, but it was just a part of Play framework template and I didn't think about licensing at the moment. Should we really use this license? I would like to switch to MIT. What do you guys thi

[2016-04-13 05:54] ForNeVeR commented on #159
I think that we should change the license. I suggest we ask other contributors (@Minoru, @kosc, @eaeee, @Newlifer) if they are okay with changing the license to MIT.

I also assume that they're okay with changing the license if they'll not complain about it in, say, 5 days.

[2016-04-13 06:12] hagane commented on #159
How about ABRMS License?
![](http://www.gifanimados.com/Gifs-Peliculas-Cine/Animaciones-Cine-De-Animacion/Shrek/Asno-Feliz-74297.gif)

[2016-04-13 06:27] ForNeVeR commented on #159
I do not care about RMS and don't want the name of this man to be mentioned anywhere near my contributions or our license/legal policy.

[2016-04-13 08:41] Minoru commented on #159
I'm okay with my contributions being distributed under the MIT license.

[2016-04-13 13:08] #153 closed

[2016-04-13 13:54] Newlifer commented on #159
I second this^W MIT license suggestion. But how about BSD-3?

[2016-04-13 13:54] ForNeVeR commented on #159
Useful discussion: http://programmers.stackexchange.com/questions/82321/why-do-people-pick-the-mit-license-over-bsd-if-bsds-non-endorsement-clause-i

But I still prefer MIT.

[2016-04-13 13:59] ForNeVeR commented on #159
As a (wannabe?) scientific institution, we tend to prefer MIT in all of our major projects: [horta](https://github.com/codingteam/horta-hell/blob/develop/LICENSE.md), [naggum](https://github.com/codingteam/naggum/blob/develop/License.md), [pacmacs](https://github.com/codingteam/pacmacs.el/blob/master/LICENSE.md). Consider that as our general policy.

I wouldn't turn from it without very solid reas

[2016-04-13 14:06] ForNeVeR opened #161 "Optimize or drop JavaScript"
I wouldn't call our little scala.js experiment as completely successful: currently every our user have to download the whole 1.2 MiB  of `loglist-scalajs-fastopt.js`. That's not acceptable.

We have to found a way to optimize it dramatically (to be no more than 400 kiB, preferably to 100 kiB or less) or completely rewrite it in plain JavaScript or some lighter language.

[2016-04-14 05:44] hagane commented on #159
Language, Doktor! We are **the** scientific institution. Anyone doubting that is a heretic, mutant and/or filthy xenos.

[2016-04-17 11:28] ForNeVeR opened #162 "Russify the UI"
Currently we have all of our user-side UI in Russian. But suddenly we have [third-party licenses list](http://loglist.net/licenses) and [RSS](http://loglist.net/feed.rss) in English. I think that we should be consistent and translate all this shit to Russian.

And also the phrase "Third-party licenses list" from the footer too.

[2016-04-17 12:07] #162 closed

[2016-04-17 21:08] rexim commented on #159
@ForNeVeR I believe it's been already 5 days. Are we gonna wait more?

[2016-04-18 03:26] ForNeVeR commented on #159
Well, I think we have an approvement from most of the contributors, so we can change the license to MIT.

[2016-04-18 20:09] #159 closed

[2016-04-18 20:34] rexim commented on #156
Reopened until tested

[2016-04-18 20:52] rexim commented on #156
Verified. The shit works as expected. Closing the issue.

[2016-04-18 20:52] #156 closed

[2016-04-29 10:14] rexim opened #166 "Add some bottom padding for Licenses title"
URL: http://loglist.net/licenses
Screenshot:
![licenses](https://cloud.githubusercontent.com/assets/165283/14913492/a68f8968-0e2d-11e6-9a0b-873914a4898e.png)

The title "Лицензии сторонних компонентов" is too close to the text box. I think some bottom padding could help

[2016-05-06 16:01] ForNeVeR opened #167 "Add `.plate` for footer"
Currently footer looks so lonely on some of the pages :(

I think we should add `class="plate"` for it. Something like that:

![image](https://cloud.githubusercontent.com/assets/92793/15078569/06455ac6-13de-11e6-8c19-b82f080749ee.png)

But:
- fix the vertical align (one of the toughest problems in CSS ever)
- restyle that RSS icon maybe? I'm thinking about something like that but no so shitty as i

[2016-05-06 16:01] ForNeVeR commented on #167
/summon @rexim @Minoru

What would you guys say?

[2016-05-06 16:23] Minoru commented on #167
If you put the footer onto a plate, there will be a number of negative consequences:

* the plate will draw unnecessary attention to the footer;
* since page links aren't on a plate, they will become a bit obscure;
* the end of the page won't be much different from the contents of the page, which is… bad style, I guess. I don't have anything to back this one up, though (other than my taste).

I vo

[2016-05-06 16:24] ForNeVeR commented on #167
I guess you haven't seen how footer looks on new quote page. Just look at this! http://loglist.net/quote/new

[2016-05-06 16:29] Minoru commented on #167
Oh. Yep, that's positively ugly.

But in this case, I'd also put the form onto a plate.

[2016-05-06 16:31] ForNeVeR commented on #167
Also it doesn't look too bad even if we highlight *only* the footer. Check the visual of this:

https://dl.dropboxusercontent.com/u/10908547/plate.png

(Sorry, I am not able to insert the image due to some network problems at the moment.)

[2016-05-06 16:37] Minoru commented on #167
In my opinion, it does look bad. The footer draws attention, page links
are now disregarded just like +/- buttons are. The eyes will just skip
anything that isn't on a plate. Don't do that.

[2016-06-06 06:01] ForNeVeR opened #168 "Enable HTTPS for the whole site"
Today we have [Let's Encrypt](https://letsencrypt.org/), so we could easily solve the problems like #73 by simply using HTTPS for everything.

@rexim, what would you say? I think I can set it up.

[2016-06-06 06:07] ForNeVeR commented on #103
I've discussed the question with my colleagues, and we've come up with the following solution: we could ask our user to solve the CAPTCHA first time he votes for something. After that we can store the received (secret) key in some client storage like cookies or JS memory or localstorage or whatever.

So, ordinary users will be asked to solve the CAPTCHA to vote, but they will be asked to do it onl

[2016-06-06 06:12] ForNeVeR commented on #103
Note that the resulting option will serve as both the client-side and the server-side solution (at least for browser client - we'll need to invent something better for other client types after we'll have them), so maybe we'll merge #102 and #103 together again, as they were back the days of #37 :)

[2016-06-06 06:15] rexim commented on #168
Includes #73

I'm ok with that. Thanks!

[2016-06-06 06:16] rexim commented on #103
It's an interesting idea, but I need to think about it. I'll give my answer once I'm home. Thanks!

[2016-06-06 06:17] ForNeVeR commented on #103
No problems, I'm ready to discuss it through more operative channels if you wish.

[2016-06-06 06:18] ForNeVeR commented on #168
Okay, I'll set it up and notify you.

[2016-06-06 06:37] hagane commented on #103
@ForNeVeR There's a problem with this: I can solve your captcha, obtain a key and then target a LOIC with that key onto your up- or downvote link.

I think a rudimentary sort-of-proof-of-work system would be much better. What i propose is: when user wants to vote, we give them a random hex string and a piece of javascript code performing some calculation with that string as an input. The latter ca

[2016-06-06 06:43] ForNeVeR commented on #103
Yes you can, but you cannot do more than any ordinary user (except from eating our traffic, but that's the whole different story). We **should** remember the vote history for every captcha-received key and don't allow it to vote more than once per day. I implied this when was suggesting the idea.

[2016-06-06 06:47] hagane commented on #103
So I can't upvote two ore more quotes in one day?

[2016-06-06 06:47] ForNeVeR commented on #103
First of all, it will not work with disabled JS, but we wish it work. Also, I cannot see how it solves the problem. The user can write the client that will execute our JS (and it even will be desirable for him because there're many kiddies who can into JS these days). I don't think we could and should invest into the system tough enough to be defended from these kiddies.

(Here I imply that it's m

[2016-06-06 06:49] ForNeVeR commented on #103
So you can't upvote one quote more that once per day. But you may upvote (downvote) **every** quote in one day. That's completely possible and we won't apply any measures to users (_incl. client-writers_) who use this ability for their good.

[2016-06-06 06:50] hagane commented on #103
Let's discuss it later today, in a MUC or Gitter or something.

On Mon, Jun 6, 2016 at 12:47 PM, Friedrich von Never <
notifications@github.com> wrote:

[2016-06-06 06:51] ForNeVeR commented on #103
Agreed.

[2016-06-06 17:15] ForNeVeR commented on #168
Done. Read further story at https://github.com/codingteam/horta-hell/issues/397, https://github.com/codingteam/horta-hell/pull/398, https://github.com/codingteam/horta-foundation/issues/35.

[2016-06-06 17:15] #168 closed

[2016-06-10 16:41] Newlifer commented on #168
I second this.

[2016-06-10 16:50] ForNeVeR commented on #73
Note that we have HTTPS for now. So, I guess, we can close it already? Do we need anything else to be done here?

[2016-06-16 15:19] ForNeVeR opened #169 "Add titles to quote pages"
Currently every quote page (e.g. https://loglist.net/quote/8060) have the title "Log List". I think it should be "Log List :: Цитата 8060" or something like that. It will be easier to distinguish these quotes shared in various social thingies such as Skype or Telegram.

[2016-07-27 16:16] ForNeVeR opened #170 "Social metadata"
Hello, I am Friedrich, and I am ~~sociopath~~ let's say an extremely social guy - I use the shitty social networks all the fucking day instead of doing any real work.

Whenever I copy-paste the loglist quote link such as https://loglist.net/quote/8070 to my Skype, Facebook, Vkontakte or some another shitty goddamn thing, I want it to turn into a glorious image containing an actual quote text if th

[2016-07-27 16:20] Minoru commented on #170
Does it have to be an image? Can't we use "og:description" and put the whole text in there?

[2016-07-27 16:21] ForNeVeR commented on #170
Will the `og:description` text be rendered by goddamn social thingies?

[2016-07-27 16:24] Minoru commented on #170
I have no idea, I don't use any of them. The property is in [the spec](http://opengraphprotocol.org/), though.

[2016-07-27 16:27] Minoru commented on #170
Now, now, @rexim, no need to display your butthurt *that* much.

[2016-07-27 16:27] rexim commented on #170
Let's limit the scope of this issue to Skype, Slack, Facebook and VK and make sure the link looks good on those. So the exact meta stuff will depend on those. If in the future something will not look good on something else it will be a separate issue.

[2016-07-27 16:28] Minoru commented on #170
You forget about Twitter. Or don't you?

[2016-07-27 16:30] ForNeVeR commented on #170
I've experimented with http://bash.im/quote/440434
They use `og:description` with the quote text and some static `og:image`. It looks fine (with actual text and shits) within facebook and vkontakte, but looks poorly in Skype and Twitter.

Image would look fine everywhere for the small texts. I've been noticing that people like to share images much more than links to some texts.

[2016-07-27 16:30] rexim commented on #170
I meantioned Twitter in the last sentence.

[2016-07-27 16:32] rexim commented on #170
For an image we need some sort of a logo. I can take that.

[2016-07-27 16:43] Minoru commented on #170
I'd like to make a stand here: *images with text are dumb*. It's just unnatural to render text with images. (True, it has been done before, but it was done due to technical limitations.)

If that wasn't enough, images deteriorate quickly when scaled (both up and down). And even if scaling don't kill legibility, the size of the type will: it might be too small to read, or it might be so large it's

[2016-07-27 16:52] ForNeVeR commented on #170
Check http://stackoverflow.com/questions/35588360/how-to-make-skype-friendly-links-preview-image-tags as a reference of tags that maybe needs to be implemented.

[2016-07-27 16:58] ForNeVeR opened #171 "Twitter support"
(Extracted from #170)

Twitter seems to have their own format of page metadata. We need to figure out that format and implement it. Our quotes should be displayed in Twitter similar to how they (will be) rendered in Facebook.

[2016-07-27 17:01] ForNeVeR opened #172 "Support for social networks without og:description"
(Extracted from #170)

Some socials (suck as Skype) doesn't support `og:description` and draws only lone image and page title when the quote is shared into them. My current idea is to render a special text-filled images to be pasted into the Skype.

So, we need to determine whether we can implement it without hurting all other social network experience (we don't wanna to replace `og:image` with Sk

[2016-07-27 17:03] ForNeVeR commented on #170
Summary: check the title post, I've updated it and created additional tasks.

[2016-07-27 17:04] rexim opened #173 "Higher resolution logo for LogList"
Extracted from #170

[2016-07-28 03:49] #173 closed

[2016-07-29 14:09] rexim opened #177 "Multiple images for social metadata"
Extracted from https://github.com/codingteam/loglist/pull/176#discussion_r72796247

[2016-07-29 14:11] ForNeVeR commented on #177
Check that: https://indieweb.org/The-Open-Graph-protocol#Does_not_support_SVG_images - the URL says it all :(

[2016-07-29 14:11] rexim commented on #177
You wanna close that then?

[2016-07-29 14:12] ForNeVeR commented on #177
Yes I do wanna close this.

[2016-07-29 14:12] #177 closed

[2016-07-29 14:12] rexim commented on #177
Too late! Ha-ha!

[2016-07-29 14:12] ForNeVeR commented on #177
:crying_cat_face:

[2016-07-29 14:14] rexim opened #178 "Consistent number sign"
Extracted from https://github.com/codingteam/loglist/pull/176#discussion_r72796507

Created an issue because I definitely gonna forget that.

[2016-07-29 14:33] ForNeVeR opened #179 "Check whether line endings work in og:description"
It seems that http://bash.im uses `&#10;&#13;` instead of `\n`. It seems to work on facebook only. We should check what are we using currently, and whether it works anywhere.

[2016-07-29 16:26] ForNeVeR opened #180 "Use Jenkins Pipeline Plugin"
We should rewrite our build to be more reliable.

[2016-07-29 16:33] Minoru commented on #171
They use [Twitter cards](https://dev.twitter.com/cards/overview).

[2016-07-29 16:36] ForNeVeR opened #181 "Share icons"
Well, guys, maybe we should add a share icons such as bash.im does? It looks like that:

![image](https://cloud.githubusercontent.com/assets/92793/17255822/07ff24de-55e5-11e6-8d91-52dec149ce16.png)

Sharing the links that way is *much* more convenient than copy-pasting the links to the social network manually (because their UI is so complex so it seems that you can navigate it only after acquiring

[2016-07-29 16:56] Minoru commented on #181
I won't vote for or against this, but I'd like to make a note: these buttons ping an external service every time they're displayed. This affects both user's privacy and site's performance.

**Performance**: downloading an image—even checking if the cached version is still valid—requires a DNS lookup and establishment of a TCP connection (plus possible TLS tunnel). That's two to three RTTs, *not co

[2016-07-29 17:05] Minoru opened #182 "Absolute reverse routed URLs use HTTP instead of HTTPS"
Even though we're using HTTPS throughout the site, Open Graph metadata uses HTTP in the URLs:

[code]

[2016-07-29 17:11] rexim commented on #182
The suggested quotes management URLs are not https too. I think this is related to how Play Framework reverse routes absolute URLs. I'll take a look into that.

[2016-07-29 17:47] rexim commented on #182
https://loglist.net/feed.rss uses the same mechanism. So we have to keep in mind that if we fix that RSS readers may think that there are lots of new entries or something

[2016-07-30 02:14] ForNeVeR commented on #181
I see no reasons for these buttons to ping any external services to be displayed. If they are then it's just wrong. Our buttons definitely shouldn't do stuff like this.

[2016-07-30 03:39] ForNeVeR commented on #181
Also there's a couple of points about your whole networking/RTT thing.

1. In today's web, _count of images displayed_ != _count of images loaded from the server_. We could either compose them to sprite or even embed them into CSS to make no additional HTTP requests at all.
2. In today's web, _count of images loaded_ != _count of separated HTTP requests, TLS sessions etc_. With HTTP/2 (and I'd lik

[2016-07-30 04:05] ForNeVeR commented on #182
Maybe we should set up our nginx so it'll pass original URL to Play framework.

[2016-07-30 04:08] ForNeVeR commented on #182
Check [this](http://blog.papauschek.com/2013/10/play-framework-https-nginx/) as a reference nginx configuration (see `X-Forwarded-Proto` and its usage on the Play side) and [this](http://stackoverflow.com/questions/28249822/playframework-return-absolute-url-in-http-instead-of-https) as a guide to preparing proper HTTPS URIs (`absoluteURL(request.secure(), request.host())` or something like this se

[2016-07-30 04:34] rexim commented on #182
@ForNeVeR sounds legit. Thanks!

[2016-07-30 06:44] ForNeVeR commented on #180
For anyone interested: it turned out that I have to disable TCP Sack on ctor to upload files there. I've done this:

[code]

After that I could upload files normally.

[2016-07-30 09:13] Minoru commented on #181
Good. Now I can be sure it will be implemented properly. Thanks.

My points regarding performance and privacy were written with default button implementations in mind. They all involve you injecting a snippet that will download an image and some JS code from external server—separate and different for each social network, so the number of TCP connections established is pretty much equal to the numb

[2016-07-30 09:14] ForNeVeR commented on #181
I think we understood each other. We're not going to make any shits here!

[2016-07-30 10:03] #180 closed

[2016-07-31 14:42] Minoru commented on #6
We now have 35 pages of quotes. Decent enough?

[2016-07-31 15:17] Minoru commented on #6
Sorry, but no, not at the moment.

[2016-07-31 18:01] rexim commented on #6
@Minoru, deduced 30 points from your score.

[2016-08-02 00:39] Minoru commented on #51
Here's what I got so far:
![screenshot_2016-08-02-03-19-15](https://cloud.githubusercontent.com/assets/118875/17313122/aaae3b88-5861-11e6-9298-8384e582a307.png)

The menus (sorting and filtering) are done, but quotes' headers baffle me.

1. The datetime string is too damn long. If I keep it on the same line as quote ID and rating buttons, the line feels crumpled; if I put it onto a separate line (

[2016-08-02 00:43] Minoru commented on #51
Actually, there's a third problem, albeit a much smaller one: should we display RSS icon on mobile? It doesn't fit too well into the footer, effectively requiring a whole line. I think on mobile, people will tend to just copy page's URL and paste it into their feed reader, which will then look at `<link rel="alternate">` to figure out where the feed is.

[2016-08-02 02:50] hagane commented on #51
@Minoru That's not half bad!
You can try to put the rating buttons on a separate line and aligning the datetime to the right on a same line with the quote id. That should free up some space while preserving the composition

[2016-08-02 03:32] ForNeVeR commented on #51
That looks nice. You could strip timezone and milliseconds part from the time string.

Regarding the RSS icon - it **should** still be usable on mobile. There's no way to *guess* if there's RSS on the site or not. But if the user see RSS icon - he could either click it or copy-paste the site URL to his RSS reader. That's about discoverability.

*(Although I haven't been able to automatically open

[2016-08-02 05:43] hagane commented on #51
@ForNeVeR i believe most browsers do not hand over URI processing based on `Content-Type` header. Consider trying `feed:` (sub)scheme in RSS URI -- AFAIK it's generally recognized, but not in the standards yet.

[2016-08-02 14:20] Minoru commented on #51
Okay, here's what I ended up with. I'm pretty happy about the overall look:
![screenshot_2016-08-02-17-14-24](https://cloud.githubusercontent.com/assets/118875/17331786/0d8c21c0-58d5-11e6-85ce-0f20e264187c.png)

I decided not to enlarge the font in the footer—it'll make that stuff draw too much attention. It's readable, but clicking on it is a bit of a challenge:
![screenshot_2016-08-02-17-14-36](

[2016-08-02 14:29] rexim commented on #51
When in doubt always submit a PR.

[2016-08-02 14:42] hagane commented on #51
@Minoru that's great! This placement of rating buttons reflects the attention flow nicely.

[2016-08-02 15:13] ForNeVeR commented on #51
I like that.

[2016-08-03 16:25] #51 closed

[2016-08-15 15:06] ForNeVeR opened #186 "Update Scala.js"
This is surprisingly complex task until we've done migration from Play framework. I have done some initial work in [feature/frontend](https://github.com/codingteam/loglist/tree/feature/frontend), but currently I cannot build it with `fullOptJS` because of some Play+RhinoJS inconsistencies. Maybe we'll revisit this branch later.

[2016-08-15 15:13] #161 closed

[2016-08-15 15:19] rexim commented on #186
I'd say that it's kind of extracted from #185

[2016-08-15 15:20] ForNeVeR commented on #186
That's another approach to #161 I've tried before creating #185. Now it's a separate task.

[2016-08-19 05:31] hagane commented on #186
@ForNeVeR I would like to help. Could you elaborate on the issues you encountered? And on the rationale behind the whole "migration from Play" thing, for that matter -- looks like there's no outstanding issues regarding it.

[2016-08-19 06:09] ForNeVeR commented on #186
There're no issues, but [the whole milestone](https://github.com/codingteam/loglist/milestone/2) full of various ideas. Maybe it'd be better to first come up with some vision of our new platform.

[2016-08-19 16:21] hagane commented on #186
I'd like to respectfully ostracize the very idea of performing a near-total redevelopment of the website, especially considering that some ~~sick bastards~~ well-adjusted gentlepeople happen to peruse it. We have a CTOR rewrite-from-scratch in the works, how about trying the whole finagle shebang there first? It's stalling hard anyway, so the cost of ~~eventual~~ potential failure would be negligi

[2016-08-19 16:24] ForNeVeR commented on #186
That's why nobody is rewriting loglist actively. Wanna to participate? You're welcome. Wanna criticize? You're welcome in the corresponding issues.

Regarding Scala.js — tommorow at the morning I'll describe the exact issue I was having while trying to enable `fullOptJs` there.

[2016-08-19 17:17] hagane commented on #186
Right. Meanwhile I'll accept the invitation and go criticize.

[2016-08-19 17:49] hagane commented on #115
Um, guise? Isomorphic apps are kinda more complicated than that.
First and foremost, there's no magic in catberry that somehow will make your app isomorphic. It still needs something to run server-side JS. And by something I mean node.js. Can't circumvent that. (Well, you can mikel your own server-side js thingamabob, but still...)

Second, nobody -- and I *mean* *nobody* needs isomorphism "just '

[2016-08-20 02:59] ForNeVeR commented on #186
Regarding the issue: I've rebased [feature/frontend](https://github.com/codingteam/loglist/tree/feature/frontend) on top of the current master (i.e. after using `fullOptJS` in build), and now it's getting the following error:
[code]

I have no exact idea what's happening there, but I have a suspicion that have something to do with installed Rhino and/or Play versions.

[2016-08-20 03:05] ForNeVeR commented on #186
See #187.

[2016-08-20 09:08] hagane commented on #186
I've come to conclusion that the primary cause is that `org.scala-js:sbt-scalajs ` migrated from `org.mozilla:rhino` to `io.apogee:rhino` somewhere in `0.6.x`. But `org.mozilla:rhino` is still transitively pulled by `com.typesafe.play:sbt-plugin` So far I've been able to persuade sbt to use one single version of Rhino, but the build still fails with the same error with any one of them.

The soluti

[2016-08-20 09:09] ForNeVeR commented on #186
I'd start from updating Play.

[2016-08-22 12:17] Newlifer opened #188 "Favicon img element must have an alt attribute"
[Validator](https://validator.w3.org/nu/?doc=https%3A%2F%2Floglist.net%2F)

[2016-08-22 12:36] ForNeVeR commented on #188
We could also add `lang="ru"` to calm down the validator.

[2016-08-22 12:38] Newlifer commented on #188
Sure.

[2016-08-22 18:23] rexim commented on #188
@ForNeVeR could you please deploy #189

[2016-08-23 02:14] ForNeVeR commented on #188
Done.

[2016-08-23 04:22] rexim commented on #188
Verified. Validator says "Document checking completed. No errors or warnings to show." Hence closing the issue.

[2016-08-23 04:22] #188 closed

[2016-09-13 18:54] rexim opened #191 "502 Bad Gateway"
https://loglist.net/ is returning 502 at the moment

[2016-09-14 02:32] ForNeVeR commented on #140
It's a separate issue from #139.

[2016-09-14 02:33] ForNeVeR commented on #191
[![fuck](https://img.youtube.com/vi/qyrJUKC3L-U/maxresdefault.jpg)](https://youtu.be/qyrJUKC3L-U)

That's because of #140. After the maintenance reboot of the host machine the site wasn't started automatically.

[2016-09-14 02:35] ForNeVeR commented on #139
See also #140: the service is sometimes unable to autostart because of this.

[2016-09-14 02:35] ForNeVeR commented on #140
So, well, merged to #139.

[2016-09-14 02:35] #140 closed

[2016-09-14 02:37] ForNeVeR commented on #191
So, well, I've started the service manually. The root problem should be fixed in #139.

[2016-09-14 02:37] #191 closed

[2016-09-14 05:03] ForNeVeR commented on #42
I guess it was resolved with #185.

[2016-09-14 05:03] #42 closed

[2016-09-14 05:05] ForNeVeR commented on #56
@rexim what you think? Is it still valid?

[2016-09-14 05:07] ForNeVeR commented on #90
It is in our Readme, nothing else should be done.

[2016-09-14 05:07] #90 closed

[2016-09-14 05:08] ForNeVeR commented on #122
@rexim is it still valid?

[2016-09-14 05:10] ForNeVeR commented on #134
It seems that it's done.

[2016-09-14 05:10] #134 closed

[2016-09-14 05:15] ForNeVeR commented on #170
Yep it's done, QA finished finally.

[2016-09-14 05:15] #170 closed

[2016-09-14 06:44] #56 closed

[2016-09-14 06:45] rexim commented on #122
@ForNeVeR don't you wanna adapt this shit?

[2016-09-14 06:47] ForNeVeR commented on #122
@rexim the main question here is whether *you* still want to adapt this shit (maybe in the future).

[2016-09-14 06:51] rexim commented on #122
Ah, yeah sure. I looked into the link and I still like. Hope to adapt it in the future!

[2016-09-14 06:52] ForNeVeR commented on #122
Ok.

[2016-09-14 08:34] hagane commented on #122
I use this for integration tests at work. This shit is damn fine.

[2016-09-20 02:48] ForNeVeR opened #192 "Cannot post the quote"
Today I was trying to post the same quote three times in a row:

[code]

All three times, the POST request was terminated due to timeout. Everything else seems to work. Need to verify and investigate.

[2016-09-20 12:46] rexim commented on #192
I just realized that I don't know if loglist has any logs. Does it? :D

[2016-09-20 12:52] ForNeVeR commented on #192
I bet it have its logs stored by upstart somewhere near `/var/log/upstart/loglist.log`.

[2016-09-20 14:57] ForNeVeR commented on #192
I suspect these were my own network issues. Now (after rebooting my network infrastructure) I was able to post the quote without problems.

The logs are completely empty.

[2016-09-20 14:57] #192 closed

[2016-09-20 21:42] Minoru commented on #14
Looks like [moment.js](http://momentjs.com/) is what cool web kids use for this kind of thing. It's 20KB minified. We'll need to loop over all timestamps and call something like `moment("timestamp goes here").format()` on each.

[2016-09-20 21:46] Minoru opened #193 "Chop empty lines at the beginning and end of the quote?"
[Quote #8093](https://loglist.net/quote/8093) has an empty line at the end. This could be fixed manually if we implement #68, or even via simple SQL query, but wouldn't it be better if such trivial edits were automated?

[2016-09-21 04:33] ForNeVeR commented on #14
Probably do it in the other way — show the default timestamps in the user's timezone and UTC timestamps in the UTC? Need to specify the requirements first. Also I'm not so sure about #21; probably it'll be too bizarre for our users.

[2016-09-21 04:37] ForNeVeR commented on #193
I vote for:

- trim the white space automatically at the end of every incoming quote
- fix the existing quotes with [an evolution](https://github.com/codingteam/loglist/tree/caf7076da49ab7ed9ee8471e9fa76b6fa9be0bdc/scalajvm/conf/evolutions/default)

[2016-09-21 08:42] Minoru commented on #14
I think this makes sense. Voting for it.

[2016-09-21 08:43] Minoru commented on #193
What about empty lines at the beginning and/or end of the quote? I think those should be removed automatically, too.

[2016-09-21 10:20] ForNeVeR commented on #193
Empty lines at the beginning – yes. Empty lines at the end are already covered by my specification "trim the white space automatically from the end". `\n` is a whitespace characted, too.

[2016-09-21 15:17] rexim commented on #193
I vote for Trump

[2016-09-21 15:17] rexim commented on #193
I agree with @ForNeVeR

[2016-10-23 11:44] ForNeVeR opened #194 "Fix deployment scripts"
See https://github.com/codingteam/codingteam.org.ru/pull/48#discussion_r84594108.

[2016-12-05 15:16] ForNeVeR opened #196 "Unit entered failed state"
Here's what we have in the logs today:

[code]

That's all. No idea or logs about what happened.

[2016-12-15 12:39] rexim opened #197 "Loglist didn't send notification for a submitted quote"
I submitted a quote ~20min ago and I didn't see any approver notification so far.

@ForNeVeR could you please examine the logs when you get a chance? I believe something similar happened before, but we didn't capture it in the issue tracker.

[2016-12-15 12:47] ForNeVeR commented on #197
[code]

[2016-12-15 12:49] rexim commented on #197
@ForNeVeR aha, cool! Thanks! I think we should handle that somehow. I'll try to convert this incident into an enhancement a bit later.

[2016-12-15 12:50] ForNeVeR commented on #197
Maybe we'll need a service to send the mail asynchronously. Usually my projects at work have one.

[2017-01-10 11:17] ForNeVeR opened #198 "Problems initializing DB on a new instance"
@kosc complains about DB initialization process. He told me that his DB was somehow created without `suggested_quote.token` field, and that caused troubles in loglist.

I suspect that something's wrong with the latest Play we're using, so I'll investigate.

[2017-01-10 11:22] rexim commented on #198
@kosc please provide detailed instructions for reproduction.

[2017-01-11 06:16] kosc commented on #198
@rexim just deactivate pgcrypto extension. I think it's not a bug, because README.md told me that I need to install pgcrypto, and I ignored it.

[2017-01-11 06:17] ForNeVeR commented on #198
Probably some of our migrations/evolutions are not transactional?

[2017-01-11 08:21] rexim commented on #198
@ForNeVeR how transactionality affects kosc's ability to focus on documentation? Please proceed, I'm really curious. :)

[2017-01-11 08:28] ForNeVeR commented on #198
@rexim here's my hypothesis:

1. @kosc had problems installing `pgcrypto` on his database instance, so he ran evolutions without `pgcrypto` available.
2. [That evolution statement](https://github.com/codingteam/loglist/blob/7064616d497de5b8231df83e9246b8100e8dd6ca/scalajvm/conf/evolutions/default/6.sql#L8-L10) failed.
3. But the whole evolution 6 wasn't rolled back or somehow marked as failed for

[2017-01-11 08:49] rexim commented on #198
@ForNeVeR cool thanks! Now this issue has a pretty well defined scope.

[2017-04-06 11:14] ForNeVeR commented on #196
That's OOM Killer. I think that's not a loglist issue, but the cause is lack of available RAM on our production server. Will fix with systemd configuration.

[2017-04-06 11:14] #196 closed

[2017-04-06 16:54] #139 closed

[2017-05-08 07:54] ForNeVeR commented on #84
I'm on it.

[2017-05-08 09:24] ForNeVeR commented on #84
For all parties involved: please note I've added the technical specification to the first post. Feel free to discuss.

[2017-05-08 09:34] ForNeVeR commented on #84
Note these were some changes.

[2017-05-08 09:37] ForNeVeR commented on #85
I'm monopolizing this at the moment.

[2017-05-08 09:38] ForNeVeR commented on #99
I don't think we'll ever need this. API client won't be interested in a public link, because a graphical API client will have its own to present the quote. Id should be enough for any kind of client.

@rexim, do you remember the reasoning behind this issue?

[2017-05-08 10:19] rexim commented on #99
@ForNeVeR yes, I wanted to use it for Horta Hell, so she can print the public link without worring if anything changed in the public schema.

[2017-05-08 10:31] ForNeVeR commented on #99
Alright, I have no additional questions for now.

[2017-05-08 16:20] rexim commented on #84
@ForNeVeR Why in `2. Count API` the field that reports "amount of quotes" is called just "quotes"? I mean we already know that a route `/api/quote/count[filter]` should probably return amount of quotes (because there are words 'count' and 'quote' in the route). But why do we call the payload field specifically like that? Do we plan to extend the response with more count fields of a different kind?

[2017-05-08 16:20] rexim commented on #84
Overall I'm approved by this shit :+1:

[2017-05-08 16:29] ForNeVeR commented on #84
@rexim that was a leftover from my previous idea when I was considering to count quotes, pages and even return the page size limit from the server. I've fixed the spec; the new name of that parameter is just `count`.

[2017-05-09 09:05] rexim opened #205 "Refactor out helpers package"
Derived from https://github.com/codingteam/loglist/pull/204#discussion_r115435058

[2017-05-09 09:14] ForNeVeR commented on #205
For the record (GutHub doesn't properly show the linked comment), the comment text is:

[2017-05-09 09:15] #94 closed

[2017-06-16 11:55] ForNeVeR opened #207 "Add quote posting API"
### MOTIVATION DIVISION.

We've discussed the integration questions with @leha-bot and have agreed on the following implementation to integrate loglist with [@xthon channel](https://t.me/xthon) in Telegram.

### IMPLEMENTATION DIVISION.

1. Add a new API to post the quote to server. Posted quote should be initially unapproved. API should require secret token to be posted.
2. Add a new field to the

[2017-06-16 16:07] rexim commented on #207
Probably supersedes #100

[2017-06-16 16:34] ForNeVeR commented on #207
Oh my. You have done [a lot of work](https://github.com/codingteam/loglist/compare/feature/auto-fill-submit-form-100) on #100.

I don't think it completely supersedes #100. In #100, we wanted to create a full bot-controlled API to post the quotes. But here, we're creating API of another sort: the one that will accept already prepared quotes without need to manually change them by the authors.

[2017-06-16 16:54] rexim commented on #207
@ForNeVeR I don't plan to finish that work in the near future. Feel free to drop that branch if needed.

[2017-07-03 13:56] ForNeVeR opened #209 "API token admin"
_(Extracted from #208.)_

We need some admin UI to control the API tokens.

[2017-07-03 14:07] #207 closed

[2017-07-03 15:01] ForNeVeR opened #210 "Add optional link for quote sources"
I'd like to link our quote sources like `loglist.ru` and `@xthon`, so the user could click them and visit the original loglist / `@xthon` Telegram channel.

[2017-07-09 14:02] #210 closed

[2017-07-11 09:24] ForNeVeR commented on #135
Well, today I think that we have published all the infrastructural information for anyone to reproduce that.

1. [Travis CI config](https://github.com/codingteam/loglist/blob/d5e57c96ca4a708949d90af332d85f8d2f6488cd/.travis.yml)
2. [Jenkins deployment config](https://github.com/codingteam/loglist/blob/d5e57c96ca4a708949d90af332d85f8d2f6488cd/scripts/Jenkinsfile.deploy)
3. [Deployment documentation

[2017-07-11 15:44] rexim commented on #135
@ForNeVeR feel free to close this issue. Thank you so much for your hard work on loglist maintenance!

[2017-07-11 15:45] ForNeVeR commented on #135
Okay, thanks for your collaboration.

[2017-07-11 15:45] #135 closed

[2017-07-11 15:46] ForNeVeR commented on #135
_(one line less in my backlog; 1314 more to come)_

[2017-07-12 08:37] ForNeVeR opened #213 "Add API documentation link to the site"
Today mr. @kosc has reported that he's parsing our site's HTML markup to extract quote data from it.

We need to put API link somewhere into the footer, so the new programmers won't fall into this «pit of success».

[2017-07-14 16:01] #213 closed

[2017-07-23 14:34] #198 closed

[2017-09-04 12:22] ramzzzay commented on #6
+1 for search implementation!

[2017-09-04 12:31] rexim commented on #6
@ramzzzay https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments

[2017-09-04 12:53] ramzzzay opened #216 "Bug: infinity work "+1"&"-1" buttons for quote"
Everyone can click "+1"&"-1" to every quote and that will work and save the result.

[2017-09-04 13:15] ForNeVeR commented on #216
That's not a bug.

I believe what you're trying to say is that we need to implement #101 and #103, which is true.

Closing as <Not a bug|Duplicate>.

[2017-09-04 13:15] #216 closed

[2018-02-18 11:17] rexim opened #218 "Suggested quotes spam"
Recently we started to recieve spam in suggested quotes, which suggests that somehow spammers bypass our CAPTCHA. I heard that some time ago somebody found a way to trick that "I'm not a robot" CAPTCHA (cannot find the link though).

Does anybody have any suggestions to improve our spam protection?

[2018-02-18 11:20] ForNeVeR commented on #218
Here it is: https://youtu.be/fsF7enQY8uI

[2018-02-18 11:29] ForNeVeR commented on #218
Recaptcha admin panel tells me the following:
![image](https://user-images.githubusercontent.com/92793/36351243-740047e4-14d9-11e8-918a-a1b43a205678.png)

"our developer site" link leads to [this page](https://developers.google.com/recaptcha/docs/verify#api-request) (and it has no useful info), all the graphs are empty and "Download Analytics" button downloads an empty CSV file. Nice.

[2018-02-18 11:30] rexim commented on #218
@ForNeVeR welp, I guess the spammers helped us to find a bug :)

[2018-02-18 11:33] ForNeVeR commented on #218
Do they actually? I don't think we have a usability bug in our integration. My current theories are:

- either spammers are actively trying to break our recaptcha, and that leads to high amount of (invalid) recaptcha requests: honestly, we probably have about 2 spam quotes and 1 actual quote for the last month, that's not a _bug_ but that's just _true_
- or Google site is just bugged: it thinks we

[2018-02-18 11:36] rexim commented on #218
Can we start counting all of the request on our side to confirm that theory?

[2018-02-18 11:37] hagane commented on #218
There's always a possibility that spam quotes are submitted by hand. Do we have raw submission logs or something?

[2018-02-18 11:41] hagane commented on #218
BTW, what is the content of spam quotes? Is it generic "Erlang your Postgres" spam, or something more specific?

[2018-02-18 11:42] ForNeVeR commented on #218
We have two at the moment:

[2018-02-18 11:44] rexim commented on #218
Sounds interesting btw. I might use their service, thanks!

[2018-02-18 11:54] ForNeVeR commented on #218
Alright, I've analyzed our logs a bit and it looks like these're human assisted automated requests.

There're not many requests to `POST /quote/new`, but various bots visit our site quite often. I've looked spammers' IP addresses in Google and find that these IPs are registered in multiple so-called "online spam databases".

Not sure if we should take any action at the moment. One interesting thin

[2018-02-18 11:57] rexim commented on #218
I don't like this idea.

Can we ban everybody from loglist in these databases?

[2018-02-18 12:14] hagane commented on #218
I like your way of enforcing progress, herr doctor. But @rexim offered a *saner* solution, methinks.

[2018-02-18 12:23] ForNeVeR commented on #218
I believe there're some automated ways of banning addresses based on online IP databases. Maybe fail2ban or something like this?

[2018-02-18 12:25] rexim commented on #218
@ForNeVeR I was actually thinking that maybe some of those databases provide some kind of REST API which we could integrate with.

[2018-03-03 10:26] ForNeVeR commented on #218
Alright, spam has been stopped by itself. No action required for now.

[2018-03-03 10:26] #218 closed

[2019-11-09 13:58] ForNeVeR opened #219 "Arabic text and unicode"
We likely have issues with the imported Loglist database.

Compare this quote [in the original](http://loglist.ru/?id=531):
![image](https://user-images.githubusercontent.com/92793/68529681-818df100-0333-11ea-9de5-e7ea34512139.png)

With [an our version](https://loglist.xyz/quote/6866):
![image](https://user-images.githubusercontent.com/92793/68529689-98344800-0333-11ea-8f24-1558fdaea901.png)

We

[2019-11-09 13:58] ForNeVeR commented on #219
I should also note that it looks funnier in our variant.

[2020-07-12 07:32] ForNeVeR opened #220 "Strange quote rendering in moderator email"
Today I've received a email with the following body from loglist:

[code]

In my email clients (both Yandex web mail client and Mailspring) it got rendered as this:
![image](https://user-images.githubusercontent.com/92793/87241274-93d4a780-c44b-11ea-8253-7c494e50ca36.png)

It obviously tried to send a HTML message, but something was very mangled during the sending. Looks like the (multi-line?) sub

[2020-07-12 07:33] ForNeVeR commented on #220
@rexim, sorry to bother you, but have you, too, received this message in broken form? I wonder if it's something about my email provider or about the loglist itself.

[2020-07-12 07:48] ForNeVeR commented on #220
I am able to replicate this effect on some of the newly posted quotes, but not on any one. Further investigation is required.

[2020-07-12 23:36] rexim commented on #220
@ForNeVeR yes, I've seen it too. Super weird.

[2020-10-10 15:10] ForNeVeR commented on #107
This is a duplicate of #68.

[2020-10-10 15:10] #107 closed

[2020-10-10 15:13] ForNeVeR opened #221 "Quote queue review UI"
As of now, we have 11 quotes in the quote queue, and I have no user-visible means to access (to either accept or reject) most of them, since their links have been lost long ago.

We should add a special moderator UI to review these quotes.

[2020-10-11 09:51] ForNeVeR commented on #219
In the original SQL dump file, this quote was looking like this (I've received the file as UTF-8 encoded, and yes, I know that the encoding is pretty broken; while it is broken, it isn't FUBAR):
[code]

[2020-10-11 16:20] ForNeVeR opened #223 "Loglist could not be built"
We've recently found that our builds are absolutely, completely broken.

@codingteam/minoru are investigating, I am assisting.

[2020-10-13 01:09] Minoru commented on #223
I'm throwing in the towel. I did some work, overcame a bunch of compilation errors, made it run (sort of), but nothing actually works. I pushed the code to [feature/make-loglist-buidable-again branch](https://github.com/codingteam/loglist/tree/feature/make-loglist-buildable-again) anyway, but the history is *extremely* dirty.

What I managed to achieve:
* **partially migrated to SBT 1.4.0**: confi

[2020-10-13 02:15] hagane commented on #223
Wow, it's been quite a while since I last saw errors like these latter ones. The deal with them is basically this: there's duplicates of some files in your classpath because SBT pulls redundant dependencies, like `commons-logging` (the Apache Foundation logging library) and `jcl-over-slf4j` (basically a drop-in replacement for the former). Best solution here would be to to investigate your depende

[2020-10-14 01:41] Minoru commented on #223
Status update:

I keep using this approach for now, as it indeed works.

Done. It was actually pretty easy: I fixed all the warnings I saw on 2.7, updated the Play plugin, and that was it. No new warnings, by the way.

I'm slightly worried about some of my changes, though, e.g. replacing `object`s with `@Singleton class`es. But I guess we'll get to discussing that when I actually make this thing f

[2020-10-15 00:04] Minoru commented on #223
Time for another status update!

I finished three out of the four steps outlined above. What remains is to teach SBT to copy the JS files into `public/javascript/`. [Our old trick](https://github.com/codingteam/loglist/blob/6111b370d9b7b2c83e71bd109cebf6705a3fb758/project/Build.scala#L39) doesn't work anymore: it copies to `conf/` instead of `public/javascripts`. I'll dig further into that tomorro

[2020-10-15 16:05] Minoru commented on #186
This is superseded by #225, which updates Scala.js to 1.2.0 (amongst other things).

[2020-10-15 16:10] Minoru commented on #186
Wait, I thought I'm closing the PR that tried to update Scala.js >_< Reopen, reopen until someone noticed!

[2020-10-16 11:25] Minoru opened #226 "Migrate from joda-time to java.time"
In a review to #225, @Orhideous [points out](https://github.com/codingteam/loglist/pull/225#discussion_r505800218) that joda-time shouldn't be used on JVM 11. Indeed, joda.org [advises](https://www.joda.org/joda-time/) "users are asked to migrate to java.time (JSR-310) - a core part of the JDK which replaces this project". So we should do that.

[2020-10-21 18:34] ForNeVeR opened #228 "Fix CI"
Currently, the CI is broken, and it will be broken even after #225 is merged. We'll need to fix it.

[2020-10-22 14:54] #223 closed

[2020-10-24 14:52] ForNeVeR opened #231 "evolutions.autocommit is deprecated, use play.evolutions.autocommit instead"
From our test log:
[code]

[2020-10-25 07:07] #228 closed

[2020-10-25 10:53] #226 closed

[2020-10-25 17:07] ForNeVeR commented on #182
I think we've applied the proposed solution long ago. Right now it definitely works on 2.0.0-pre2 deployed to the production server. Closing.

[2020-10-25 17:07] #182 closed

[2020-10-25 20:19] Minoru commented on #186
JFYI, #225 updated Scala.js to then-current 1.2.0, but the 1.3.0 is out now, so this can't be closed.

[2020-10-25 20:20] Minoru commented on #197
This is a duplicate of #82, closing.

[2020-10-25 20:20] #197 closed

[2020-10-30 16:50] #194 closed

[2020-10-30 16:50] #231 closed

[2021-01-12 17:21] ForNeVeR opened #235 "NullPointerException when fetching the quotes through the API"
When fetching the quotes through the API (e.g. https://loglist.xyz/api/quote/list?limit=10&page=1&filter=none&order=time), loglist shows an error page. Here's an excerpt from the logs:
[code]

(which, interestingly enough, doesn't even refer to our code at all)

Need to investigate.

[2021-01-12 19:00] #235 closed

[2021-08-02 07:49] Aakash2408 commented on #149
can i block Recaptcha on specific dev environments in my codebase?

[2021-08-02 12:18] Minoru commented on #149
@Aakash2408 Currently you can't, we haven't implemented a configuration setting for that yet. Would you like to work on that?

[2021-11-21 13:40] ForNeVeR opened #239 "Moderator UI: disable confirmations"
Currently, when I approve or decline a quote, all the moderators get a email about that fact.

I don't believe this is necessary. Let's get rid of that second confirmation email.

[2022-01-20 14:47] ForNeVeR opened #240 "Automatic spam filter"
There should be a simple filter (to delete http:// links we receive a lot).

Probably, put these quotes into a separate bin for further review and cleanup.